In [92]:
import pandas as pd
df = pd.read_csv("data_linkedin.csv",index_col=0)

In [93]:
df

,intitule,entreprise,Type Contrat,Niveau Experience,texte
0,Stage Data Analyst H/F - Paris - Janvier 2021,Jobmania,Full-time,Entry level,['– Vous serez en charge du traitement des don...
1,STAGE - DATA ANALYST F/H,JOBINLIVE,Full-time,Entry level,"[""Description du poste JOBINLIVE recrute pour ..."
2,Stage Data Analyst H/F,dentsu international,Full-time,Entry level,"[""Afin de renforcer notre équipe, nous recherc..."
3,VIE Business Analyst IT - German speaker,ODDO BHF,Full-time,Entry level,"[ Company: , , ODDO BHF is an independent Fra..."
4,Analyste de données ESMS F/H,Sécurité sociale,Full-time,Entry level,"[""Description du poste Le pôle programmation p..."
...,...,...,...,...,...
379,Data Analyst H/F,VERTICAL-RH,Full-time,Entry level,"['Notre client, incontournable pour les partic..."
380,Data Analyst Site de Wasquehal H/F,EOS France,Full-time,Entry level,[ Intégré(e) Au Sein D'une Équipe De Statistic...
381,DATA ANALYST,INFORMATIS-TS,Full-time,Entry level,['Dans le cadre d’un important projet avec une...
382,Financial Analyst,Wiley,Full-time,Entry level,"['Location: Suresnes, France', , 'Company: Cr..."
383,ALTERNANCE ASSISTANT BUSINESS & DATA ANALYST (...,Verisure par Securitas Direct,Full-time,Entry level,['Devenez notre prochain Alternant Assistant B...

In [94]:
df["texte"] = df['texte'].apply(lambda x: x.replace("'", "").replace("[", "").replace("]", "").replace("–", "").replace("\\","").replace("<ul>","").replace("<li>","").replace('</li>', '').replace("</ul>", ' '))

In [133]:
df['stage_i'] = 0
df['stage_i'] = df['intitule'].apply(lambda x: 1 if "Stagiaire" in x or "stagiaire" in x or "STAGIAIRE" in x or "Stage" in x or "STAGE" in x or "stage" in x else 0)

In [134]:
df['stage_t'] = 0
df['stage_t'] = df['texte'].apply(lambda x: 1 if "Stagiaire" in x or "stagiaire" in x or "STAGIAIRE" in x or "Stage" in x or "STAGE" in x or "stage" in x else 0)

In [156]:
len(df.query('stage_t == 1 or stage_i ==1'))

187

In [157]:
187/384

0.4869791666666667